@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* =========================================================================================================== */

html,
body {
	height: 100%;
	width: 100%;
	background: white;
	color: black;
	font-family: "Montserrat", sans-serif;
	/* font-family: sans-serif; */
}

.App {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

/* .Hero01,
.Hero02,
.Hero03,
.Hero08{
	height: 100%;
	width: 100%;
} */

/* scroll animation */
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

.animate-loop-scroll {
	animation: scroll 20s linear infinite;
}

.group:hover .animate-loop-scroll {
	animation-play-state: paused;

}

/* =========================================================================================================== */
/* previous code */
/* Add this to make the images scroll continuously */
/* .Hero02{
	display: none;
}
.Hero02>div {
	flex-wrap: nowrap;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
} */

/* .Hero02 img { */
/* width: 100%; */
/* adjust the width to your liking */
/* height: 100px; */
/* adjust the height to your liking */
/* object-fit: cover; */
/* margin: 10px;
	scroll-snap-align: start;
} */

/* =========================================================================================================== */
/* new hero02 code */
/* .scrollContainer {
	height: 30%;

	width: 100%;

	position: relative;
}

#container {
	height: 350px;
	position: relative;
	overflow: hidden;
}

.photobanner {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	white-space: nowrap;
	animation: bannermove 10s linear infinite;
}

.photobanner img {
	margin: 0 0.5em;
}

@keyframes bannermove {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-50%, 0);
	}
} */

/* =========================================================================================================== */

/* Hero03.css */

/* Keyframes for sliding out and in */
/* @keyframes slideOutLeft {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	
	100% {
		transform: translateX(0);
		opacity: 1;
	}
	
}

/* Applying animations to the image on hover */
.roll-out-in {
	position: relative;
	transition:
		transform 0.3s,
		opacity 0.3s;
	/* Smooth transition */
}

.roll-out-in:hover {
	animation: slideOutLeft 1s forwards;
	/* Animation for sliding out on hover */
}

.roll-out-in:after {
	content: "";
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-image: inherit;
	background-size: cover;
	background-position: center;
	animation: slideInBottom 1s forwards;
	/* Animation for sliding in new image */
}

*/

/* section active  */
.active {
	opacity: 1;
	animation: slidein 0.5s ease forwards;
}

@keyframes slidein {
	from {
		transform: translateY(20px);
	}

	to {
		transform: translateY(0);
	}
}

/* =========================================================================================================== */

/* Hero 06 */
.CustomBorder-main {
	height: 20rem;
	width: 0.1rem;
	background-color: rgba(104, 104, 104, 0.233);

	/* margin: auto; */
}

.CustomBorder-Sub {
	height: 1px;
	width: 222px;
	background-color: rgba(104, 104, 104, 0.233);
}

.serviceText {
	margin-left: 34px;
}

/* ================================= */
/* .btn {
	padding: 12px 24px;
	font-size: 16px;
	font-weight: bold;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #0056b3;
}
*/

/* rolling button on contact page */
/* customm Button */

/* =========================================================================================================== */

/* =========================================================================================================== */
/* Hero07 */
/* customs */
.GradientText {
	background: linear-gradient(to right,
			#7953cd 20%,
			#00affa 30%,
			#0190cd 70%,
			#764ada 80%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-size: 500% auto;
	animation: textShine 5s ease-in-out infinite alternate;
}

.GradientText2 {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes textShine {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}

/* CustomLine  */
.CustomLine {
	width: 400px;
	height: 12px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lino {
	height: 4px;
	width: 90px;
	background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
	-webkit-text-fill-color: transparent;
	/* -webkit-background-clip: text; */
	background-size: 500% auto;
	animation: textShine 5s ease-in-out infinite alternate;
}

.CustomLine::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: green;
	animation: animateLine 5s linear infinite;
}

@keyframes animateLine {
	0% {
		left: 0;
	}

	100% {
		left: 0;
	}
}

/* customcheck
 .check:hover {
	color: green;
} */
.hover-effect {
	display: flex;
	align-items: center;
	gap: 8px;
	/* Adjust if needed */
	padding: 4px;
	/* Adjust if needed */
}

.icon {
	transition: transform 0.3s ease, fill 0.3s ease, filter 0.3s ease;
}

.hover-effect:hover .icon {
	transform: rotate(16deg);
	fill: green;
	filter: drop-shadow(0 0 8px green);
	/* Creates a glowing effect */
}


/* ------------------------------------------------------------------------------------------------------------------- */
.animate-charcter {
	text-transform: uppercase;
	background-image: linear-gradient(-225deg,
			#231557 0%,
			#44107a 29%,
			#ff1361 67%,
			#fff800 100%);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;

}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

/* wavily for free quote  */

.waviy {
	position: relative;
	-webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
	font-size: 60px;
}

.waviy span {
	font-family: 'Alfa Slab One', cursive;
	position: relative;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	animation: waviy 1s infinite;
	animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

	0%,
	40%,
	100% {
		transform: translateY(0)
	}

	20% {
		transform: translateY(-20px)
	}
}

/* contact animation text  */
.title-word {
	animation: color-animation 4s linear infinite;
}

.title-word-1 {
	--color-1: #DF8453;
	--color-2: #3D8DAE;
	--color-3: #E4A9A8;
}

.title-word-2 {
	--color-1: #DBAD4A;
	--color-2: #ACCFCB;
	--color-3: #17494D;
}

.title-word-3 {
	--color-1: #ACCFCB;
	--color-2: #E4A9A8;
	--color-3: #ACCFCB;
}

.title-word-4 {
	--color-1: #3D8DAE;
	--color-2: #DF8453;
	--color-3: #E4A9A8;
}

@keyframes color-animation {
	0% {
		color: var(--color-1)
	}

	32% {
		color: var(--color-1)
	}

	33% {
		color: var(--color-2)
	}

	65% {
		color: var(--color-2)
	}

	66% {
		color: var(--color-3)
	}

	99% {
		color: var(--color-3)
	}

	100% {
		color: var(--color-1)
	}
}


/* services text animation */

.logo-container {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: calc(100% - 2px);
		width: 100%;
		height: 4px;
		background-color: #cf0000;
		transform-origin: center center;
		transform: scaleX(0);
		animation: line-animation 3s ease infinite alternate;
	}

	h1#page-logo {
		padding: 20px 8px;
		animation: clip-path-reveal-1 3s ease infinite alternate;
	}
}

@keyframes line-animation {
	0% {
		transform: scaleX(0);
	}

	15% {
		transform: scaleX(0);
	}

	20%,
	25% {
		transform: scaleX(1);
		top: calc(100% - 2px);
	}

	50% {
		transform: scaleX(1);
		top: 0px;
	}

	70% {
		transform: scaleX(0.2);
		top: 0px;
	}

	80%,
	100% {
		transform: scaleX(0.2);
		top: 0px;
	}
}

@keyframes clip-path-reveal-1 {

	0%,
	25% {
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

/* =========================================================================================================== */

/* Faq */
.faq-details {
	transition: all 0.45s ease;
}

.faq-details[open] {
	padding-bottom: 1rem;
	/* Adjust as needed */
	color: white;
	background-color: black;
	transition: all 0.45s ease;

	.question {
		color: rgba(179, 179, 179, 0.37);
	}
}

@media only screen and (max-width: 600px) {
	.faq h2 {
		font-size: 20px;
	}

	.accordian .content {
		font-size: 14px;
	}

	.accordian li label {
		padding: 10px;
		font-size: 14px;
	}

	label::after {
		font-size: 22px;
	}

	.faq-details[open] {
		color: white;
		background-color: black;
		transition: all 0.45s ease;
	}
}

/* =========================================================================================================== */

/* 12 */
.btn-12 {
	position: relative;
	color: white;
	right: 20px;
	bottom: 20px;
	border: none;
	box-shadow: none;
	width: 180px;
	height: 40px;
	line-height: 42px;
	-webkit-perspective: 230px;
	perspective: 230px;
}

.btn-12 span {
	background: rgb(0, 172, 238);
	background: linear-gradient(0deg,
			rgba(0, 172, 238, 1) 0%,
			rgba(2, 126, 251, 1) 100%);
	display: block;
	position: absolute;
	width: 130px;
	height: 40px;
	box-shadow:
		inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		7px 7px 20px 0px rgba(0, 0, 0, 0.1),
		4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin: 0;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-12 span:nth-child(1) {
	box-shadow:
		-7px -7px 20px 0px #fff9,
		-4px -4px 5px 0px #fff9,
		7px 7px 20px 0px #0002,
		4px 4px 5px 0px #0001;
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: 50% 50% -20px;
	-moz-transform-origin: 50% 50% -20px;
	transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transform-origin: 50% 50% -20px;
	-moz-transform-origin: 50% 50% -20px;
	transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
	box-shadow:
		inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		7px 7px 20px 0px rgba(0, 0, 0, 0.1),
		4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
	box-shadow:
		inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		7px 7px 20px 0px rgba(0, 0, 0, 0.1),
		4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	color: transparent;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}

/* uncomment card  */
/* 
.container {
	position: relative;
	width: 1100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-warp: warp;
	padding: 30px;
}

.container .card {
	position: relative;
	max-width: 300px;
	height: 215px;
	background-color: #fff;
	margin: 30px 10px;
	padding: 20px 15px;

	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-in-out;
	border-radius: 15px;
}
.container .card:hover {
	height: 320px;
}

.container .card .image {
	position: relative;
	width: 260px;
	height: 260px;

	top: -40%;
	left: 8px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.container .card .image img {
	max-width: 100%;
	border-radius: 15px;
}

.container .card .content {
	position: relative;
	top: -140px;
	padding: 10px 15px;
	color: #111;
	text-align: center;

	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.container .card:hover .content {
	margin-top: 30px;
	visibility: visible;
	opacity: 1;
	transition-delay: 0.2s;
} */

.Hero07 {
	padding: 2em;
	background-color: #FFF;
}

.Hero07 .card {
	position: relative;
	display: flex;
	justify-content: center;
	cursor: pointer;
	width: 100%;
	max-width: 22em;
	padding: 2em;
	background: #FFF;
	border: 1px solid #D1D5DB;
	border-radius: 0.5em;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
	transition: transform .35s ease, box-shadow .35s ease;
	overflow: hidden;
}

.Hero07 .card::before,
.Hero07 .card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	height: 4px;
}

.Hero07 .card::before {
	width: 0;
	opacity: 0;
	transition: opacity .5s ease, width .5s ease;
	transition-delay: .5s;
}

.Hero07 .card::after {
	width: 100%;
	background: white;
	transition: width .5s ease;
}

.Hero07 .card .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.Hero07 .card .icon {
	margin: 0 0 1em;
}

.Hero07 .card h2 {
	color: #111;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0.5em 0;
}

.Hero07 .card .hover_content {
	overflow: hidden;
	max-height: 0;
	transform: translateY(1em);
	transition: max-height .55s ease, transform .55s ease;
}

.Hero07 .card .hover_content p {
	margin: 1.5em 0 0;
	color: #6E6E70;
	line-height: 1.4em;
}

.Hero07 .card:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.Hero07 .card:hover::before {
	width: 100%;
	opacity: 1;
	transition: opacity .5s ease, width .5s ease;
}

.Hero07 .card:hover::after {
	width: 0;
	opacity: 0;
	transition: width .5s ease;
}

.Hero07 .card:hover .hover_content {
	max-height: 10em;
	transform: none;
}